POSTGRES_DB=<database>
POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_PORT=<port>
MIGRATION_VERSION=<number migration>

MINIO_USER=<minio login>
MINIO_PASSWORD=<minio password>
MINIO_DATA_PORT=<port>
MINIO_WEB_PORT=<port>

APP_ENV=<dev/prod>
SERVER_PORT=<photo viewer server port>
SERVER_TIMEOUT=<photo viewer server timeout>
PHOTOS_BUCKET_NAME=<bucket name (default "photos")>

JWT_ACCESS_SECRET=<secret>
JWT_REFRESH_SECRET=<secret>
KEY_SIGNER_SECRET=<secret>

SMTP_HOST=<smtp host>
SMTP_USER=<smtp user>
SMTP_PASSWORD=<smtp password>
SMTP_FROM_ADDRESS=<smtp from addres>

VERIFICATION_CODE=<code>
INITNAL_PHOTOS_QUOTA=<count>

SITE_PORT=<port>
SITE_SECURE_PORT=<port>
SITE_DOMAIN_NAME=<domain (without www.)>
SITE_API_URL=<url>
